{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}MSP430 Web Control{% endblock %}</title>

    {% compress css %}
    {% block styles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap/css/navbar-fixed-top.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/less" href="{% static "css/global.less" %}" media="screen" />

    <!-- bootstrap-slider plugin -->
    <link href="{% static "slider/slider.css" %}" rel="stylesheet">

    {% endblock %}
    {% endcompress %}

  </head>

  <body>
  {% block body %}{% endblock %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{% block brand %}MSP430 Web Control{% endblock %}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">MSP430s <b class="caret"></b></a>
              <ul class="dropdown-menu"></ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="admin/">Admin</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="span6 offset3 messagecontainer">
        </div>
      </div>

      {% block data %}
      <div class="jumbotron" id="displays_container">
        <h1>MSP430 Web Control</h1>
        <p>This page allows you to control an MSP430 over WiFi. Please select an MSP430 from the top.</p>
        <p>To find out more information about MSP430 Launchpads please visit:</p>
	      <a href="http://processors.wiki.ti.com/index.php/MSP430_LaunchPad">MSP430 Launchpad Wiki</a>
      </div>
      {% endblock %}


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static "jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Custom javascript for the projcet -->
    <script type="text/javascript" src="{% static "js/websocket.js" %}"></script>
    <script type="text/javascript" src="{% static "js/interface.js" %}"></script>

    <!-- flot graph plugin -->
    <script type="text/javascript" src="{% static "flot/jquery.flot.js" %}"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static "flot/excanvas.min.js" %}"></script><![endif]-->
    <script type="text/javascript" src="{% static "flot/jquery.flot.resize.js" %}"></script>

    <!-- bootstrap-slider plugin -->
    <script type="text/javascript" src="{% static "slider/bootstrap-slider.js" %}"></script>

    <!-- display bindings -->
    <script type="text/javascript" src="{% static "js/numericdisplay_binding.js" %}"></script>
    <script type="text/javascript" src="{% static "js/progressbardisplay_binding.js" %}"></script>
    <script type="text/javascript" src="{% static "js/buttondisplay_binding.js" %}"></script>
    <script type="text/javascript" src="{% static "js/graphdisplay_binding.js" %}"></script>
    <script type="text/javascript" src="{% static "js/sliderdisplay_binding.js" %}"></script>

    <script type="text/javascript" src="{% static "js/load.js" %}"></script>

  </body>
</html>
